.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: #282c34 !important;
  text-align: center;
  color: white;
}

.ui.input input {
  background-color: #282c34;
  color: white;
  border: 1px solid white;
}

.ui.input.left.icon input {
  background-color: #282c34;
  color: white;
  border: 1px solid white;
}

.ui.input input:focus {
  background-color: #282c34;
  border: 1px solid white;
  color: white;
}

.TabStyle thead th {
  position: sticky;
  top: 0;
}
