.Navbar {
  background: #e0e1e2 none;
  position: fixed;
  overflow: hidden;
  height: 50px;
  width: 100%;
  z-index: 1;
}

.Navbar img {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.Navbar i {
  float: right;
  display: block;
  color: #282c34;
  text-align: center;
  padding: 12px 0px;
  padding-right: 10px;
  text-decoration: none;
}
