.Trade {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  height: 100%;
}

.control {
  display: flex;
  justify-content: space-between;
}

.stats {
  flex: 1;
  min-height: 100px;
  margin: 0 1rem;
  background-color: rgba(200, 100, 100, 0.3);
}

.side-margin-10 {
  margin: 0 10px !important;
}

label {
  color: white;
}

.input-modal input {
  background-color: rgba(0, 0, 0, 0.85);
}

.input-transparent input {
  background-color: transparent !important;
}

th {
  background-color: #e0e1e2 !important;
  color: black;
}
tr {
  background-color: white;
}

tbody tr:nth-child(even) {
  background: #e0e1e2;
}

.black-input input {
  background-color: #282c34 !important;
  color: white !important;
  border: 1px solid white !important;
}

.ui.input input:focus {
  background-color: #282c34;
  border: 1px solid white;
  color: white;
}

.ui.input input {
  background-color: #282c34;
  color: white;
  border: 1px solid white;
}

.react-datepicker__input-container {
  position: relative !important;
  font-weight: 400 !important;
  font-style: normal !important;
  display: inline-flex !important;
}

.react-datepicker__input-container input {
  background-color: #282c34 !important;
  color: white !important;
  border: 1px solid white !important;
  padding: 0.67857143em 1em;
  border-radius: 0.28571429rem;
}

.ui.checkbox label {
  color: white;
}

.ui.checkbox label:hover {
  color: gray;
}

.react-datepicker__input-container :focus {
  outline: none;
}

.react-datepicker__day--outside-month {
  color: transparent !important;
  pointer-events: none;
}
